doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Young for Chicks - Users
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css')
    style.
      body {
        font-family: Arial, sans-serif;
        max-width: 400px;
        margin: auto;
        padding: 20px;
        background-color: #f1f1f1;
        background: url(/images/ga-con1.jpg);
      }
      input, button {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
      }
  body
    .signup-box
      form(action="/farmers-reg" method='post') 
        h2 Create Account
        input(type="text" id="name" name="fullName" placeholder="Full Name" required)
        input(type="tel" id="phone" name="phoneNumber" placeholder="tel +256" required)
        input(type="number" id="age" name="age" placeholder="Age 18 & 30" min="10" required)
        input(type="text" id="farmerNin" name="farmerNin" placeholder="NIN (National Id Number)" required)
        input(type="email" id="email" name="email" placeholder="email example@gmail.com" required)
        input(type="password" id="password" name="password" placeholder="Password 1234" required)
        input(type="text" id="address" name="address" placeholder="Address (District, Sub-County, Parish)" required)
        input(type="text" id="username" name="username" placeholder="Username" minlength="4")
        input#farmerDob.form-control(type="date", name="farmerDob", required)

        // Gender field
        select(id="gender" name="gender" required)
          option(value="") Select Gender
          option(value="Male") Male
          option(value="Female") Female
          option(value="Other") Other

        // Recommender fields
        input(type="text" id="recommenderName" name="recommenderName" placeholder="Recommender Name" required)
        input(type="text" id="recommenderNin" name="recommenderNin" placeholder="Recommender NIN" required)

        // Role field
        select(id="role" name="role" required)
          option(value="") Select Role
          option(value="BrooderManager") Brooder Manager
          option(value="SalesRep") Sales Rep
          option(value="YoungFarmer") Young Farmer

        button(type='submit') Sign Up
        #signup-msg.msg

      .link-login
        | Already have an account? 
        a(href="../login") Login here

    script(src="../js/signup.js")
